
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.tjenwellens.timetracker"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CALENDAR" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/clock"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".macro.MacroActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_title" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".macro.macrosettings.MacroSettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_title" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".detail.DetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_title" >
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".detail.detailsettings.DetailSettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_title" >
        </activity>
        
        
        
        <activity
            android:name=".TimeTrackerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_time_tracker_activity" >
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="Preferences" >
        </activity>
    </application>

</manifest>